/images
/meshes
/output
/Progress
blob_classify_test.m
blob_clean_spikes_test.m
blob_clean_test.m
blob_heights_split_test.m
Building_test.m
disc_heights_gen_practice.m
disc_scrap.m
disc_test.m
disc_triangles.m
find_roofs_test.m
ground_gen_maxheight_test.m
ground_gen_test.m
map_rotate_directcompass.m
map_rotate90.m
meanangle.m
meanangle.zip
natsort.m
natsortfiles.m
natsortfiles.zip
patch_rasterize.m
patch_rasterize.zip
readObj.m
regional_minmax_split_backup.m
regional_minmax_split_test.m
reproject_backup.m
slope_split_test.m
stl_to_pix.m
stldemo.m
stlread.m
STLRead.zip